backend/venv
backend/app/app/db/migrations
backend/app/.env
backend/app/alembic.ini
**/__pycache__/**

frontend/app/.env
frontend/app/node_modules
frontend/app/package-lock.json
frontend/app/tsconfig.json

.idea/
venv/