backend/venv
backend/.env
backend/logs.log
backend/test.py
backend/src/app/media
backend/alembic.ini
**/__pycache__/**

frontend/app/.env
frontend/app/node_modules
frontend/app/package-lock.json
frontend/app/tsconfig.json

.idea/
venv/
venvpc/
venvlaptop/